@import "variables";

a:link, a:visited, a:hover, a:active {
    display: inline-block;
    text-decoration: none;
    font-size: 80%;
    font-family: $font-family-secondary;
    cursor: pointer;
    -webkit-transition-duration: $timing-global-transition-duration;
         -o-transition-duration: $timing-global-transition-duration;
            transition-duration: $timing-global-transition-duration;
}

a:link, a:visited {
    background-color: $color-tag-item-background;
    color: $color-tag-item-text;
}

a:hover, a:active {
    background-color: $color-tag-item-background-hover;
    color: $color-tag-item-text-hover;
}