@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";

a:link, a:visited {
    color: $color-post-link;
}

a:hover, a:active {
    color: $color-post-link-selected;
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto $spacer;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}

.author-name {
    font-family: $font-family-primary;
}

.author-title, .author-bio, .contact {
    font-family: $font-family-secondary;
}

@include media-breakpoint-down(xs) {
    .content {
        text-align: center;
    }
}