<nav id="topbar" class="navbar transparent fixed-top p-0" 
detect-scroll (onScroll)="handleScroll($event)" [topOffset]="1" #topBar>
    <div class="navbar-brand p-0">
        <a class="nav-link py-3" routerLink="/"><h5 class="m-0">{{ BLOG_TITLE }}</h5></a>
    </div>

    <div id="overlay" #overlay (click)="closeSideBar()"></div>

    <ul class="nav align-content-start ml-auto" id="sidebar" #sideBar>
        <li class="nav-item d-md-none">
            <a class="nav-link p-3" (click)="closeSideBar()"><i class="fas fa-times"></i></a>
        </li>
        <li *ngFor="let c of categories" class="nav-item">
            <a class="nav-link p-3" routerLink="/archive/category/{{ c.slug }}" (click)="closeSideBar()">{{ c.name }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-3" routerLink="/tag" (click)="closeSideBar()">Tag</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-3" routerLink="/about" (click)="closeSideBar()">About</a>
        </li>
    </ul>

    <ul class="nav align-content-start">
        <li class="nav-item dropdown" #dropdown>
            <a class="nav-link p-3" data-toggle="dropdown" href="#" role="button" 
            aria-haspopup="true" #dropdownToggle>
                <i class="fas fa-search"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" #dropdownMenu>
                <form class="px-3 py-2" (submit)="performSearch()" ngNativeValidate>
                    <input type="text" name="query" id="query" class="form-control" placeholder="Tìm kiếm bài viết..." required [(ngModel)]="query"/>
                    <button type="submit" class="mt-2 p-1">Tìm kiếm</button>
                </form>
            </div>
        </li>
        <li class="nav-item d-md-none">
            <a class="nav-link p-3" (click)="openSideBar()"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
</nav>