@import "../node_modules/bootstrap/scss/mixins/_breakpoints.scss";
@import "variables";

.navbar {
    background-color: $color-top-bar-background;
    z-index: 8000;
    -webkit-transition: background-color 250ms;
    -o-transition: background-color 250ms;
    transition: background-color 250ms;

    &.transparent {
        background-color: transparent;

        &.disable-transparent {
            background-color: $color-top-bar-background;
        }
    }
}

.nav-link, .nav-link:visited {
    font-size: $font-size-top-bar-item;
    color: $color-top-bar-text !important;
}

.navbar-brand {
    font-family: $font-family-primary;
}

.nav-item {
    font-family: $font-family-secondary;

    :hover {
        background-color: $color-top-bar-background-selected;
        color: $color-top-bar-text-selected !important;
        -webkit-transition-duration: $timing-global-transition-duration;
             -o-transition-duration: $timing-global-transition-duration;
                transition-duration: $timing-global-transition-duration;
    }
}

#sidebar {
    z-index: 10000;
}

#overlay {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    -webkit-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    transition: background-color 200ms;
    z-index: 9000;
}

.active#overlay {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.8);
}

.dropdown-menu {
    min-width: 195px;
    border: none;
    border-radius: 0;
    background-color: $color-top-bar-dropdown-background;
    -webkit-box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
            box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
    font-family: $font-family-secondary;

    &:hover {
        background-color: $color-top-bar-dropdown-background !important;
    }

    form:hover {
        background-color: $color-top-bar-dropdown-background !important;
    }

    input {
        border-radius: 0;
        color: $color-top-bar-dropdown-text !important;

        &:hover {
            background-color: $color-top-bar-dropdown-background !important;
            color: $color-top-bar-dropdown-text !important;
        }

        &:focus {
            -webkit-box-shadow: none !important;
                    box-shadow: none !important;
            border-color: #ced4da !important;
        }
    }

    button {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        -webkit-box-shadow: none;
                box-shadow: none;
        border-radius: 0;
        width: 100%;
        border: 0;
        background-color: $color-top-bar-dropdown-button-background;
        color: $color-top-bar-dropdown-button-text;
        font-family: $font-family-secondary;
        cursor: pointer;

        &:hover {
            background-color: $color-top-bar-dropdown-button-background-selected;
            color: $color-top-bar-dropdown-button-text-selected;
        }
    }
}

.show{
    .nav-link {
        background-color: $color-top-bar-background-selected;
        color: $color-top-bar-text-selected !important;
        -webkit-transition-duration: 200ms;
             -o-transition-duration: 200ms;
                transition-duration: 200ms;
    }

    .dropdown-menu {
        animation-name: fadeInAnimation;
        animation-duration:.1s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards;

        -webkit-animation-name: fadeInAnimation;
        -webkit-animation-duration:.1s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;

        -moz-animation-name: fadeInAnimation;
        -moz-animation-duration:.1s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease;
        -moz-animation-fill-mode: forwards;
    }
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@include media-breakpoint-down(sm) {
    #sidebar {
        position: fixed;
        top: 0;
        right: -240px;
        z-index: 10000;
        height: 100vh;
        width: 240px;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-transition-duration: 200ms;
             -o-transition-duration: 200ms;
                transition-duration: 200ms;
        background: $color-top-bar-background;

        > li {
            display: block;
            width: 100%;
        }
    }

    .open#sidebar {
        right: 0;
    }

    #overlay {
        width: 100vw;
        height: 100vh;
    }
}