@import 'styles.scss';

.navbar {
    background-color: $color-top-bar-background;
    z-index: 8000;
}

.transparent {
    background-color: transparent;
}

.nav-link, .nav-link:visited {
    font-size: $font-size-top-bar-item;
    color: $color-top-bar-text;
}

.navbar-brand {
    font-family: $font-family-primary;
}

.nav-item {
    font-family: $font-family-secondary;
    color: $color-top-bar-text;

    :hover {
        background-color: $color-top-bar-background-selected;
        color: $color-top-bar-text-selected;
        transition-duration: 200ms;
    }
}

#sidebar {
    z-index: 10000;
}

#overlay {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    transition: background-color 200ms;
    z-index: 9000;
}

.active#overlay {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.8);
}

@include media-breakpoint-down(sm) {
    #sidebar {
        position: fixed;
        top: 0;
        right: -240px;
        z-index: 10000;
        height: 100vh;
        width: 240px;
        overflow-x: hidden;
        overflow-y: scroll;
        transition-duration: 200ms;
        background: $color-top-bar-background;

        > li {
            display: block;
            width: 100%;
        }
    }

    .open#sidebar {
        right: 0;
    }

    #overlay {
        width: 100vw;
        height: 100vh;
    }
}