@import "variables";

.text {
    font-family: $font-family-primary;
    color: $color-pagination-header;
}

.pagination-line {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 1px;
    background-color: $color-pagination-line;
    display: block;
}

.large {
    .text {
        margin-top: 1.5rem;
    }
    .pagination {
        padding: 20px 0 40px; 
    }
}

.small {
    .text {
        margin-top: 1rem;
    }
    .pagination {
        padding: 10px 0 20px; 
    }
}