@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";

.tag-list-container {
    margin: 5rem;
    margin-top: $spacer * 6;
    background-color: $color-card-background;
    box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
}

@include media-breakpoint-down(lg) {
    .tag-list-container {
        margin: 3rem;
        margin-top: $spacer * 6;
    }
}

@include media-breakpoint-down(sm) {
    .tag-list-container {
        margin: 1rem;
        margin-top: $spacer * 6;
    }
}

@include media-breakpoint-down(xs) {
    .tag-list-container {
        margin: 0;
        margin-top: $spacer * 3;
        box-shadow: none;
    }
}