<a routerLink="/post/{{ post.slug }}">
  <h3 class="title">{{ post.title }}</h3>
</a>
<div>
  <a routerLink="/archive/author/{{ post.author.slug }}">
    <span class="author">{{ post.author.last_name }} {{ post.author.first_name }}</span></a>/<span class="timestamp">{{ post.published | date:'medium' }}</span>
</div>
<div lazy-load-images>
  <img class="img-fluid my-3" data-src="{{ post.featured_image }}"/>
</div>
<p class="summary">{{ post.summary }}</p>

<a routerLink="/post/{{ post.slug }}">
  <button type="button" class="read-more my-2 mr-2 py-2 button-outline ">Đọc thêm</button>
</a>

<div class="pagination">
  <div class="pagination-line"></div>
</div>