@import "styles";

.title {
    font-family: $font-family-primary;
    color: $color-post-text;
}

.author, .timestamp {
    font-family: $font-family-secondary;
    color: $color-post-text;
}

.summary {
    font-family: $font-family-secondary;
    color: $color-post-text;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.button-outline {
    display: inline-block;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    max-width: 200px;
    border: solid 3px $color-button-outline;
    background-color: $color-button-background;
    color: $color-button-outline;
    font-family: $font-family-primary;
}

.button-outline:focus {
    outline: none;
}

.button-outline:hover {
    background-color: $color-button-background-selected;
    color: $color-button-text-selected;
}

.pagination {
    padding: 70px 0;

    .pagination-line {
        position: absolute;
        left: 50%;
        margin-left: -25px;
        width: 50px;
        height: 1px;
        background-color: grey;
        display: block;
    }
}

@include media-breakpoint-down(sm) {
    .button-outline {
        max-width: initial;
    }
}