@import "variables";

#prev-next-nagivation {
    text-align: center;
    font-family: $font-family-secondary;
    
    a:link, a:visited {
        color: $color-post-link;
    }
    
    a:hover, a:active {
        color: $color-post-link-selected;
    }
}