<app-loading-screen #loadingScreen></app-loading-screen>
<div *ngIf="post">
  <app-carousel-post-item [post]="post"></app-carousel-post-item>
  <div class="content-container">
    <div class="content">
      <div id="post-content" [innerHTML]="post.body | safeHtml" highlight="all"></div>
      <div id="post-tag-list" class="my-4">
        <app-tag-list-item *ngFor="let t of post.tags" [tag]="t"></app-tag-list-item>
      </div>
      <div class="py-4">
        <app-section-head text="Bình luận" padding="small"></app-section-head>
        <disqus [title]="post.title"></disqus>
      </div>
    </div>
  </div>

  <div id="prev-next-nagivation" class="content-container px-5">
    <div class="row">
      <div *ngIf="prevPost == null" class="col-md-6"></div>
      <div *ngIf="prevPost" class="col-md-6">
        <app-section-head text="Bài viết trước" padding="small"></app-section-head>
        <a routerLink="/post/{{ prevPost.slug }}">
          <p>{{ prevPost.title }}</p>
        </a>
      </div>
      <div *ngIf="nextPost == null" class="col-md-6"></div>
      <div *ngIf="nextPost" class="col-md-6">
        <app-section-head text="Bài viết sau" padding="small"></app-section-head>
        <a routerLink="/post/{{ nextPost.slug }}">
          <p>{{ nextPost.title }}</p>
        </a>
      </div>
    </div>
  </div>
</div>