@import "styles";

.post-container {
    margin: 5rem;
    box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
}

#post-content {
    h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-primary;
    }

    p {
        font-family: $font-family-secondary;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    figcaption {
        text-align: center;
        font-size: 80%;
        font-family: $font-family-secondary;
        color: #6c757d;
    }

    table {
        width: 100%;
        max-width: 100%;
        margin-bottom: $spacer;
        background-color: $color-table-background;
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        thead {
            color: $color-table-text-header;
            background-color: $color-table-background-header;
            border-color: $color-table-border;
        }

        th, td {
            padding: $table-cell-padding;
            vertical-align: top;
            border-top: $width-table-border solid $color-table-border;
        }

        thead th {
            vertical-align: bottom;
            border-bottom: (2 * $width-table-border) solid $color-table-border;
        }

        tbody + tbody {
            border-bottom: (2 * $width-table-border) solid $color-table-border;
        }
    }
}

@include media-breakpoint-down(lg) {
    .post-container {
        margin: 3rem;
    }
}

@include media-breakpoint-down(sm) {
    .post-container {
        margin: 1rem;
    }
}

@include media-breakpoint-down(xs) {
    .post-container {
        margin: 0;
        box-shadow: none;
    }
}