@import "../node_modules/bootstrap/scss/mixins/_breakpoints.scss";
@import "variables";

#title {
    font-family: $font-family-primary;
    color: $color-footer-text;
}

@include media-breakpoint-down(xs) {
    .container {
        border-top: solid 1px $color-footer-text;
    }
}