@import "styles";

.loading {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    z-index: 7000;
    opacity: 1;
    background-color: $color-loading-background;
    transition: opacity 0;
    pointer-events: none;

    .loading-animation {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -32px;
        margin-top: -32px;
        width: 64px;
        height: 64px;
    
        div {
            display: inline-block;
            position: absolute;
            left: 6px;
            width: 13px;
            background-color: $color-loading-animation;
            animation: loading-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
        }
    
        div:nth-child(1) {
            left: 6px;
            animation-delay: -0.24s;
        }
    
        div:nth-child(2) {
            left: 26px;
            animation-delay: -0.12s;
        }
    
        div:nth-child(3) {
            left: 45px;
            animation-delay: 0;
        }
    }

    &.hide {
        opacity: 0;
        transition: opacity 200ms;
    }
}

@keyframes loading-animation {
    0% {
        top: 6px;
        height: 51px;
    }
    50%, 100% {
        top: 19px;
        height: 26px;
    }
}
  