@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";

/* Global Style */
body {
    font-size: 18px;
    background-color: $color-fake-background;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}