/* Fonts */
@font-face {
    font-family: 'Lato-Regular';
    font-weight: 400;
    font-style: normal;
    src: url('/assets/fonts/Lato-Regular/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    font-weight: 800;
    font-style: normal;
    src: url('/assets/fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.ttf') format('truetype');
}

$font-family-primary: 'OpenSans-ExtraBold', sans-serif;
$font-family-secondary: 'Lato-Regular', sans-serif;

$font-size-top-bar-item: 1rem;

/* General colors of the page */
$color-primary: #1a1a1c;
$color-primary-dark: #000000;
$color-primary-light: #4e4e50;
$color-accent: #950740;
$color-accent-dark: #6f2232;
$color-accent-light: #c3073f;
$color-text-white: #ffffff;
$color-text-dark: #000000;
$color-text-caption: #6c757d;

/* Timing */
$timing-global-transition-duration: 150ms;

/* Specific colors for elements of the page */
$color-top-bar-background: $color-primary;
$color-top-bar-background-selected: $color-accent-light;
$color-top-bar-text: $color-text-white;
$color-top-bar-text-selected: $color-text-white;
$color-top-bar-dropdown-background: white;
$color-top-bar-dropdown-text: $color-text-dark;
$color-top-bar-dropdown-button-background: $color-primary;
$color-top-bar-dropdown-button-background-selected: $color-accent-light;
$color-top-bar-dropdown-button-text: $color-text-white;
$color-top-bar-dropdown-button-text-selected: $color-text-white;

$color-loading-background: $color-primary;
$color-loading-animation: $color-text-white;

$color-carousel-text: $color-text-white;

$color-fake-background: #f8f8f8;
$color-card-background: white;

$color-post-title: $color-text-dark;
$color-post-title-selected: $color-accent-light;

$color-post-text: $color-text-dark;
$color-post-link: $color-accent-light;
$color-post-link-selected: $color-accent;
$color-post-caption: $color-text-caption;

$color-button-outline: $color-primary;
$color-button-outline-selected: $color-accent-light;
$color-button-background: white;
$color-button-background-selected: white;
$color-button-text: $color-text-dark;
$color-button-text-selected: $color-accent-light;

$color-pagination-line: $color-text-dark;
$color-pagination-header: $color-text-dark;

$color-footer-text: $color-primary-light;
$color-footer-link: $color-accent-light;
$color-footer-link-selected: $color-accent;

$color-blockquote: $color-primary-light;

$color-table-background: white;
$color-table-text: $color-text-dark;
$color-table-background-header: white;
$color-table-text-header: $color-text-dark;
$color-table-border: $color-primary-light;

$width-table-border: 1px;

$color-tag-item-background: $color-primary;
$color-tag-item-text: $color-text-white;
$color-tag-item-background-hover: $color-accent-light;
$color-tag-item-text-hover: $color-text-white;

$color-pagination-nav-background: white;
$color-pagination-nav-text: $color-primary;
$color-pagination-nav-border: $color-primary;
$color-pagination-nav-background-selected: white;
$color-pagination-nav-text-selected: $color-accent-light;
$color-pagination-nav-border-selected: $color-accent-light;

$color-top-bar-search-button-background: $color-primary;
$color-top-bar-search-button-background-selected: $color-accent-light;
$color-top-bar-search-button-text: $color-text-white;
$color-top-bar-search-button-text-selected: $color-text-white;