<div lazy-load-images>
  <div class="background" [attr.data-background-src]="post.featured_image">
    <div class="overlay"></div>
    <div class="carousel-caption">
      <a routerLink="/post/{{ post.slug }}">
        <h4 class="carousel-title">{{ post.title }}</h4>
      </a>
      <p class="carousel-metadata">
        <a routerLink="/archive/author/{{ post.author.slug }}">
          {{ post.author.last_name}} {{ post.author.first_name }}</a>/{{ post.published | date:'medium' }}
      </p>
      
      <p class="carousel-summary">{{ post.summary }}</p>
    </div>
  </div>
</div>